<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title> MyCalculator</title>
</head>

<body class="bg-light">
  {% load static%}

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'cindex'%}">MyCalculator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#instructions">Instructions</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% if errorpresent%}
  <br>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="margin : 0 auto;">
  <div class="alert alert-danger alert-dismissible fade-show" role="alert">
    Please enter the valid input!...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  </div></div>
  </div>
  {% endif %}
  {% if result %}
  <br>
  <br><br>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-6" style="margin : 0 auto;">
  <div class="alert alert-success alert-dismissible fade-show" role="alert">
    {{query}} = {{answer}}  
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
</div>
  </div>
  {% endif %}
  <div class="container-fluid" style="margin-bottom: 30rem;">
    <div class="row">
      <div class="col-md-6" style="margin: 1rem auto 0 auto;">
        <img class="img-fluid" src="{% static 'logo_cal.jpg'%}" alt="">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'calsubmit'%}">
              <div class="form-floating">
                <input type="search" class="form-control" id="floatingInput" name="query"
                  placeholder="name@example.com" autofocus>
                <label for="floatingInput">Enter Query</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary"
                    style="margin:1rem auto; display: block;">Submit</button>
                </div>
                <div class="col-6">
                  <button type="reset" class="btn btn-danger" style="margin:1rem auto;display: block;">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="about">
      <div class="col-md-6" style="margin: 3rem auto;text-align: center;">
        <p class="display-4">
          About Page
        </p>
        <hr>
        <p class="lead">
          Our calculator app can perform various Mathemathical operations
        </p>
      </div>
    </div>
    <div class="row" id="instructions">
     
      <div class="col-md-6" style="margin: 3rem auto;">
        <p class="display-4" style="text-align: center;">
          Instructions      
        </p>
        <hr>
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary">You Can Perform following opperations through this app</li>
          <li class="list-group-item">+ Addition</li>
          <li class="list-group-item">- Substraction</li>
          <li class="list-group-item">* Multiplication</li>
          <li class="list-group-item">/ Division</li>
          <li class="list-group-item">// Floor Division</li>
          <li class="list-group-item">( ) Paranthesis</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <footer class="fixed-bottom navbar-dark"
        style="background-color: black;color: cornsilk;text-align: center; margin:0 auto;">
        <div>
          Thanks for using our app
        </div>
      </footer>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>
